:root {
    --light-grey: #828b95;
    --article-color1: #d3dbe4;
}

body {
    height: 100vh;
    background: #EBEBF3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: #e4e9ee;
}

main {
    margin: auto;

    display: grid;
    width: 60rem;
    height: 44rem;
    grid-template-columns: 2fr 3fr 9rem;
    grid-template-rows: 1fr 3fr 7rem;

    & .visa-img {
        grid-area: 1/1/1/1;
        z-index: 1;
        opacity: 0.1;
    }

    & .save-information {
        grid-area: 3/2;
        display: flex;
        align-items: center;
        justify-self: center;
        gap: .5rem;
        color: var(--light-grey);
        font-weight: 400;
        letter-spacing: 1px;

        & input {
            width: 1.2rem;
            aspect-ratio: 1;
        }
    }
}

section {
    grid-area: 1/1/-1/3;
    background-image: linear-gradient(315deg, #3d4553 0%, #697281 100%);
    display: grid;
    align-items: center;
    gap: 7rem;
    padding: 2.3rem;
    color: #fff;

    & .first-title {
        align-self: end;

        & h4 {
            color: #f79a71;
        }

        & h1 {
            font-weight: 500;
            letter-spacing: 3px;
            font-size: 1.7rem;
        }
    }

    & .total-info {
        width: fit-content;
        border-top: 1px solid var(--light-grey);
        padding-top: 1.5rem;

        & h4 {
            color: var(--light-grey);
        }

        & h1 {
            font-size: 4.5rem;
            text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.425);
        }
    }

}

article {
    position: relative;

    display: grid;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.20);
    grid-area: 2/2/2/-1;
    padding: 1.5rem 3rem;

    & img{
        justify-self: end;
    }
    .search-group {
        color: var(--article-color1);

        & input {
            position: relative;
            height: 1.6rem;
            padding: 0 1.3rem;
            outline: 0;
            border: 0;
            width: 100%;

            &::placeholder {
                color: var(--article-color1);

            }
        }

        & i {
            position: absolute;
            z-index: 1;
        }
    }

    & .card-information {
        display: flex;
        align-items: center;
        gap: 4rem;

        & img {
            height: fit-content;
        }
        & .wrapper-input {
            display: grid;
            gap: 2rem;
        }

        & label {
            color: var(--article-color1);
            font-weight: 500;
        }

        & input {
            width: 100%;
            height: 2rem;
            padding: 1.3rem 0;
            font-size: 1.2rem;
            border: 0;
            outline: 0;
            border-bottom: 2px solid var(--article-color1);
            color: var(--light-grey);

            &::placeholder {
                color: var(--light-grey);
            }
        }
    }
}


.select-group{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    & .select1 div{
        display: flex;
        gap: 2rem;
    }
}

.stars{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f6d17e;
    margin-left: 2rem;
    & small{
        color: var(--article-color1);
    }
}

button{
    position: absolute;
    background: #f79a71;
    color: #ba6742;
    box-shadow: 0 0 2rem  #f79a71;
    width: fit-content;
    padding: 1.5rem 3rem;
    bottom: -2rem;
    right: 4rem;
    cursor: pointer;
}