body {
    height: 100vh;
    background: #F3F3F3;
    font-family: system-ui;
    display: flex;
}

main {
    margin: auto;
    background: #fff;
    width: 50rem;
    height: 90%;
    padding: 2rem;

    display: grid;
    gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 1fr;

    & nav {
        display: flex;
        justify-content: space-between;

        & ul {
            display: flex;
            gap: 2.5rem;
            align-self: flex-end;
        }

        & li {
            background: linear-gradient(currentcolor 0 0) 50% 0% / var(--w, 0%) 2px no-repeat;
            transition: 250ms;
            padding-top: .3rem;

            &:hover {
                --w: 65%;
            }
        }
    }
}

hr {
    margin-top: 1rem;
    height: 3px;
    background: #000;
}

section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2rem 1fr 1fr;

    & .add-button {
        grid-column: 1/-1;

        & a {
            padding: .3rem .4rem;
            border: 2px solid black;
            font-weight: 500;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
        }
    }

    &>div:not(:first-child) {
        background-image: linear-gradient(0deg, #f3f3f3 0% 60%, #fff 0% 0%);
        border: 1px solid black;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        &:hover{
            border: 2px solid;
        }

        & i {
            align-self: end;
        }

        & img {
            width: 40%;
            border-radius: 50%;
        }

        & .info {
            background: #fff;
            width: fit-content;
            height: fit-content;
            display: flex;
            border-radius: 100vmax;

            & p {
                padding: .4rem .7rem;

                &:first-child {
                    border-right: 2px solid #F3F3F3;
                }
            }
        }

        & a {
            border: 1px solid;
            font-size: .9rem;
            font-weight: 500;
            width: 100%;
            display: grid;
            place-content: center;
            padding-block: .5rem;
            transition: .4s;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

}