*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(203, 201, 241);
    background: linear-gradient(139deg, rgba(203, 201, 241, 1) 18%, rgba(90, 132, 213, 0.94) 100%);
    font-family: sans-serif;
    display: grid;
    place-content: center;
    color: #202020;
}

form {
    width: 23rem;
    height: 40rem;
    background-color: #fff;
    box-shadow: 0 0 67px -41px #000000e8;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}

.close {
    top: 2rem;
    right: 2rem;
    position: absolute;
}

header p {
    margin-top: 1rem;
}

a {
    color: #5A84D5;
}

section {
    display: flex;

    & input {
        margin-top: 5px;
        width: 100%;
        height: 3rem;
        padding: 1rem;
        border: 0;
        border: 1px solid #CBC9F1;
    }

    & input:focus {
        outline: 0;
        box-shadow: 0 0 20px 5px #CBC9F1;
    }

    & label{
        font-size: .8rem;
    }

}

section .inputstyle:first-child input:not([type="email"]) {
    border-radius: 5px 0 0 5px;
    border-right: transparent;
}

section .inputstyle:nth-child(2) input {
    border-radius: 0 5px 5px 0;
}

#section2 .inputstyle {
    flex-basis: 100%;
    & input{
    border-radius: 5px;
    }
}

small {
    line-height: 1.3rem;
}

.groupbtn {

    text-align: center;

    & [type="submit"] {
        width: 100%;
        padding: 1.2rem;
        border: 0;
        background-color: #BA54EB;
        box-shadow: 0 7px 15px 0px #B886E6;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
}


.fbtw {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    & a {
        border-radius: 5px;
        padding: 1.2rem 3.7rem;
    }

    & a:first-child {
        background-color: #657ef0;
    }

    & a:last-child {
        background-color: #65b2f0;
    }
}