body {
    height: 100vh;
    background: #603E90;
    font-family: system-ui;
    display: flex;
}

main {
    margin: auto;
    background: #fff;
    width: 70rem;
    height: 85%;
    border-radius: 1rem;
    padding: 5rem 9rem;
    text-align: center;

    display: grid;
    gap: 1rem;
    grid-template:
        "header header" 1fr
        "img1 img2" 2fr
        "button button" 5rem / 2fr 1fr;
}

header {
    grid-area: header;

    & small {
        display: inline;
        background: #8B4FD7;
        color: #fff;
        padding: .2rem .4rem;
        border-radius: 100vmax;
    }

    & p {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: #8B4FD7;
    }
}

.img1 {
    grid-area: img1;

    padding: 2.5rem;
    text-align: left;
    display: flex;
    align-items: flex-end;
    color: #fff;
    background-image: url(ciel.jpg);
    background-size: cover;
    font-size: 2.2rem;
    line-height: 1;
    border-radius: 1rem;
}

.img2 {
    grid-area: img2;

    display: grid;
    grid-template-rows: 8rem 1fr;
    grid-template-columns: 1fr;
    background: #fff;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.212);
    border-radius: 1rem;
    overflow: hidden;
    text-align: left;

    & img {
        width: 100%;
        height: 100%;
    }

    & .content-img2 {
        padding: 1rem;
        line-height: 1.3;

        & small {
            font-size: .9rem;
            font-weight: 500;
            line-height: 1.1;
        }
    }
}

.button {
    grid-area: button;
    margin: auto;

    & a {
        color: #fff;
        background: #603E90;
        padding: .8rem;
        border-radius: .4rem;
    }
}